.carousel-container {
    position: relative;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

.costume-layer {
    position: absolute;
    inset: 0;
    transition: transform 0.4s ease, opacity 0.1s ease;
    will-change: transform, opacity;
}

.anim-lines {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 10s linear forwards;
}

.anim-lines-circles {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 100s linear alternate;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
